html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 4.7rem 0 4.7rem;
  max-width: 1400rem;
}
.header .divisao1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.header .divisao2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 57px;
  justify-content: center;
  margin-top: 1rem;
  width: 126px;
}
.header .logo img {
  height: 5.7rem;
}
.header .logo .linha {
  margin-top: -1.5rem;
  width: 120px;
}
.header .address {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .search {
  height: 44px;
  max-width: 40rem;
  left: 444px;
  top: 42px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(209, 206, 206, 0.368627451);
}
.header .search input {
  width: 60rem;
  outline: none;
  border-radius: 15px;
  border: none;
  border-style: none;
  padding: 0 1rem 0 1rem;
  background: rgba(209, 206, 206, 0);
}
.header .search input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
  background: rgba(209, 206, 206, 0);
}
.header .search button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header .search button img {
  padding-right: 1rem;
}
.header .user {
  display: flex;
  align-items: center;
  height: auto;
}
.header .user p {
  font-weight: 500;
  font-family: "Montserrat";
  align-items: center;
  cursor: pointer;
}
.header .user img {
  height: 3.5rem;
  width: 4rem;
  object-fit: contain;
}
.header .menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: -1px;
  cursor: pointer;
  z-index: 9999999;
}
.header .menu .menu1 {
  width: 3rem;
  background-color: black;
  border: 1px solid;
}
.header .menu .menu1 {
  width: 3rem;
  background-color: black;
  border: 1px solid;
}
.header .menu .menu2 {
  width: 3rem;
  background-color: black;
  border: 1px solid;
}
.header .menu .menu3 {
  width: 3rem;
  background-color: black;
  border: 1px solid;
}
.header .card-shop {
  cursor: pointer;
}

.lista {
  width: 90vw;
  height: 100vh;
  background: rgba(209, 206, 206, 0.8235294118);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  gap: 2rem;
  font-size: 4rem;
  margin: auto;
  bottom: 15rem;
  top: 0;
  left: 3%;
  overflow: hidden;
  position: fixed;
  font-weight: 500;
  font-family: "Montserrat";
  align-items: center;
  cursor: pointer;
  visibility: hidden;
}
.lista a {
  text-decoration: none;
  color: #000000;
  margin-right: 5rem;
}

.l1 > a:hover {
  color: white;
}

.l2 > a:hover {
  color: white;
}

.l3 > a:hover {
  color: white;
}

.l1 > a:hover {
  color: white;
}

.l2 > a:hover {
  color: white;
}

.l3 > a:hover {
  color: white;
}

.mgs {
  max-width: 140rem;
  background: rgba(209, 206, 206, 0.4039215686);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.mgs .section1 h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
}
.mgs .section1 .p1 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5B5B5B;
}
.mgs .section1 h3 {
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.mgs .section1 :where(.p2, .p3) {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid #5B5B5B;
  width: 180px;
}
.mgs .section2 form {
  display: grid;
  margin-top: 20rem;
  grid-template-columns: 30rem 30rem;
  row-gap: 10rem;
  column-gap: 4rem;
  grid-template-areas: "nome email" " tel  ass" "line  line" "btn .";
}
.mgs .section2 form input {
  border: none;
  outline: none;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #5B5B5B;
}
.mgs .section2 form .nome {
  grid-area: nome;
}
.mgs .section2 form .email {
  grid-area: email;
}
.mgs .section2 form .tel {
  grid-area: tel;
}
.mgs .section2 form .ass {
  grid-area: ass;
}
.mgs .section2 form .line {
  border-bottom: 1px solid;
  background-color: #5B5B5B;
  grid-area: line;
}
.mgs .section2 form button {
  grid-area: btn;
  height: 69.984375px;
  width: 194.265625px;
  left: 0px;
  top: 345px;
  border-radius: 96px;
  background-color: black;
  color: white;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 7rem;
}
.mgs .section2 form button:hover {
  background: rgba(209, 206, 206, 0.4039215686);
  color: black;
  border: none;
}

.contato {
  margin-top: 20rem;
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.contato .card-contato1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contato .card-contato1 h2 {
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato1 p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato1 p:last-child {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contato .card-contato2 h2 {
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato2 p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato2 p:last-child {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contato .card-contato3 h2 {
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato3 p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.contato .card-contato3 p:last-child {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.Showrooms {
  max-width: 140rem;
}
.Showrooms h1 {
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 6rem;
}
.Showrooms .img-show1 {
  max-width: 50rem;
  height: 50rem;
}
.Showrooms .img-show2 {
  max-width: 50rem;
  height: 50rem;
}
.Showrooms .Showrooms-child1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Showrooms .contato-Showrooms {
  display: flex;
  flex-direction: column;
}
.Showrooms .contato-Showrooms h2 {
  font-family: Inter;
  font-size: 37px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
}
.Showrooms .contato-Showrooms .p1 {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5B5B5B;
}
.Showrooms .contato-Showrooms h3 {
  font-family: Inter;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #0E0E0E;
}
.Showrooms .contato-Showrooms :where(.p1, .p2, .p3, .p4) {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #5B5B5B;
  margin-top: -2.1rem;
}

.question-card {
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-card h1 {
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}
.question-card p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #5B5B5B;
}

.quest1 {
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem 0 10rem;
  align-items: center;
}
.quest1 .line {
  cursor: pointer;
}

.quest2 {
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem 0 10rem;
  align-items: center;
}
.quest2 .line {
  cursor: pointer;
}

.quest3 {
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem 0 10rem;
  align-items: center;
}
.quest3 .line {
  cursor: pointer;
}

.quest4 {
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem 0 10rem;
  align-items: center;
}
.quest4 h2 {
  max-width: 40rem;
  align-self: center;
  max-width: max-content;
}
.quest4 .line {
  cursor: pointer;
}

.quest5 {
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem 0 10rem;
  align-items: center;
}
.quest5 .line {
  cursor: pointer;
}

.quest6 {
  max-width: 140rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem 0 10rem;
  align-items: center;
}
.quest6 .line6 {
  cursor: pointer;
}

.card-footer {
  max-width: 140rem;
  height: auto;
  background: rgba(209, 206, 206, 0.4039215686);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
}
.card-footer .logo .logo-child {
  display: block;
  width: 10rem;
}
.card-footer .logo .linha {
  width: 10rem;
}
.card-footer .card-logo-footer img {
  width: 4rem;
}
.card-footer .card-contato-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-footer .card-contato-footer .card-contato-footer-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.card-footer .card-contato-footer .card-contato-footer-child .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-footer .card-contato-footer .meuEmail {
  margin-left: 4rem;
  margin-top: -2rem;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-contato-footer .email-footer {
  margin-left: 4rem;
  display: flex;
}
.card-footer .card-contato-footer .email-footer::before {
  content: "";
  background-image: url(../img/Mail.svg);
  width: 4rem;
  height: 10rem;
  position: absolute;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: -2rem;
  bottom: 10rem;
  margin-left: 1rem;
}
.card-footer .card-logo-footer {
  margin-bottom: 16.2rem;
  max-width: 40rem;
}
.card-footer .card-footer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: -20rem;
}
.card-footer .card-footer1 .logo {
  margin-top: 4.7rem;
}
.card-footer .card-footer1 .logo .logo-child, .card-footer .card-footer1 .logo .linha {
  width: 12.6rem;
}
.card-footer .card-footer1 .anuncio {
  margin-bottom: -1.9rem;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #505050;
}
.card-footer .card-footer1 .card-logo-footer {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  height: auto;
}
.card-footer .card-footer1 .card-contato-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 8.3rem;
  margin-top: -10rem;
}
.card-footer .card-footer1 .card-contato-footer h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer1 .card-contato-footer h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer1 .card-contato-footer .card-tel-footer .tel {
  margin-left: 4rem;
}
.card-footer .card-footer1 .card-contato-footer .card-tel-footer .tel::before {
  content: "";
  background-image: url(../img/Phone.svg);
  width: 40px;
  height: 10rem;
  position: absolute;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: -1rem;
  bottom: 10rem;
  margin-bottom: -9rem;
}
.card-footer .card-footer1 .card-contato-footer .card-tel-footer .cel {
  margin-top: -2rem;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 4rem;
}
.card-footer .card-footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-footer .card-footer2 .menu-footer {
  margin-top: 3rem;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.card-footer .card-footer2 .assets-footer .assets-mochila {
  display: flex;
  flex-direction: row;
  gap: 10.5rem;
}
.card-footer .card-footer2 .assets-footer .assets-mochila h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer .assets-mochila p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer .assets-mochila button {
  height: 35px;
  width: 148px;
  left: 984px;
  top: 8236px;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.card-footer .card-footer2 .assets-footer .assets-mochila button:hover {
  color: #404040;
  background: #D9D9D9;
  border: none;
}
.card-footer .card-footer2 .assets-footer .assets-micro {
  display: flex;
  flex-direction: row;
  margin-left: -4rem;
  gap: 7rem;
}
.card-footer .card-footer2 .assets-footer .assets-micro h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer .assets-micro p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer .assets-micro button {
  height: 35px;
  width: 148px;
  left: 984px;
  top: 8236px;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.card-footer .card-footer2 .assets-footer .assets-micro button:hover {
  color: #404040;
  background: #D9D9D9;
  border: none;
}
.card-footer .card-footer2 .assets-footer .assets-vr {
  display: flex;
  flex-direction: row;
  margin-left: -4rem;
  gap: 6rem;
}
.card-footer .card-footer2 .assets-footer .assets-vr img {
  margin-top: 3rem;
}
.card-footer .card-footer2 .assets-footer .assets-vr h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer .assets-vr p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer2 .assets-footer .assets-vr button {
  height: 35px;
  width: 148px;
  left: 984px;
  top: 8236px;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.card-footer .card-footer2 .assets-footer .assets-vr button:hover {
  color: #404040;
  background: #D9D9D9;
  border: none;
}
.card-footer .card-footer2 .anuncio {
  margin-bottom: -1rem;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer3 {
  display: flex;
  flex-direction: column;
}
.card-footer .card-footer3 a {
  text-decoration: none;
  color: #000000;
}
.card-footer .card-footer3 .menu-footer {
  margin-top: 8rem;
}
.card-footer .card-footer3 .menu-footer h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer3 .menu-footer p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer3 .ul-footer {
  margin-top: 10rem;
}
.card-footer .card-footer3 .ul-footer h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer3 .ul-footer p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.card-footer .card-footer3 .anuncio {
  margin-top: 1rem;
  width: max-content;
}

@media (max-width: 1111px) {
  .header {
    max-width: 140rem;
  }
  .header .search {
    display: none;
  }
  .header .address {
    display: none;
  }
  .header .divisao2 {
    margin-right: 8rem !important;
  }
  .header .divisao2 .user {
    display: none;
  }
  .header .divisao2 .card-shop {
    display: none;
  }
  .mgs .section1 {
    margin: 0 3rem 0 3rem;
  }
  .mgs h1 {
    font-size: 5rem !important;
  }
  .section2 input {
    max-width: 26rem;
  }
  .section2 .line {
    max-width: 61rem;
  }
  .Showrooms .Showrooms-child1 img {
    max-width: 30rem;
  }
  .card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .card-footer .card-footer1 {
    display: flex;
    margin: auto;
  }
  .card-footer .card-footer2 {
    margin: auto;
  }
  .card-footer .card-footer3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3rem 0 3rem;
  }
  .card-footer .card-footer3 .ul-footer {
    margin-top: 8rem;
  }
  .card-footer .card-footer3 .anuncio {
    margin-top: 30rem;
  }
}
@media (max-width: 1000px) {
  .mgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contato {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
  .Showrooms-child1 img {
    max-width: 23rem !important;
  }
}
@media (max-width: 999px) {
  .Showrooms-child1 {
    margin: auto;
    text-align: center;
  }
  .Showrooms-child1 img {
    max-width: 20rem !important;
    margin: 0 3rem 0 3rem;
  }
  .quest1 h2 {
    font-size: 2rem;
  }
  .quest2 h2 {
    font-size: 2rem;
  }
  .quest3 h2 {
    font-size: 2rem;
  }
  .quest4 h2 {
    font-size: 2rem;
  }
  .quest5 h2 {
    font-size: 2rem;
  }
  .quest6 h2 {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .header .divisao2 .menu {
    margin-right: -25rem !important;
  }
  .mgs .section2 form {
    display: flex;
    flex-direction: column;
  }
  .Showrooms .Showrooms-child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question-card {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .question-card .quest {
    max-width: 140rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .question-card .quest1 {
    margin: auto;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }
  .question-card .quest1 h2 {
    align-self: center;
  }
  .question-card .quest2 {
    margin: auto;
  }
  .question-card .quest3 {
    margin: auto;
  }
  .question-card .quest4 {
    margin: auto;
  }
  .question-card .quest5 {
    margin: auto;
  }
}
@media (max-width: 600px) {
  .header .logo {
    margin-left: -4rem;
  }
  .header .menu {
    margin-left: 8rem;
  }
  .quest1 h1 {
    display: none;
  }
  .quest2 h1 {
    display: none;
  }
  .quest3 h1 {
    display: none;
  }
  .quest4 h1 {
    display: none;
  }
  .quest5 h1 {
    display: none;
  }
  .quest6 h1 {
    display: none;
  }
  .card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .card-footer .card-footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }
  .card-footer .card-footer1 .anuncio p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .card-footer .card-footer1 .card-tel-footer h2 {
    font-size: 1.9rem;
  }
  .card-footer .card-footer1 .card-tel-footer p {
    font-size: 1.9rem !important;
  }
  .card-footer .card-footer1 .email-footer {
    font-size: 1.9rem !important;
  }
  .card-footer .card-footer1 .email-footer::before {
    content: "";
    display: none;
  }
  .card-footer .card-footer1 .meuEmail {
    font-size: 1.9rem !important;
  }
  .card-footer .card-footer1 .tel::before {
    content: "";
    display: none;
  }
  .card-footer .card-contato-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-footer .card-logo-footer {
    max-width: min-content;
  }
  .card-footer .card-footer2 {
    margin-top: -10rem;
    margin-bottom: -10rem;
    margin-bottom: 5rem;
  }
  .card-footer .card-footer2 .assets-mochila {
    display: flex;
    flex-direction: column;
  }
  .card-footer .card-footer2 .anuncio p {
    font-size: 1.5rem !important;
    text-align: center;
    margin-top: 10rem;
  }
  .card-footer .card-footer3 {
    margin: 0 3rem 0 3rem;
  }
  .card-footer .card-footer3 h1 {
    font-size: 3rem !important;
  }
  .card-footer .card-footer3 .anuncio {
    display: none;
  }
  .card-footer .card-footer3 .anuncio p {
    font-size: 1rem !important;
  }
  .card-footer .menu-footer p {
    font-size: 1.8rem !important;
  }
  .card-footer .ul-footer {
    margin: 0 3rem 0 3rem;
  }
  .card-footer .ul-footer p {
    font-size: 1.8rem !important;
    max-width: max-content;
  }
}
.active1 {
  transform: rotate(45deg) translate(1px, 7px);
  transition: 0.5s;
}

.active2 {
  opacity: 0;
}

.active3 {
  transform: rotate(-45deg) translate(3px, -10px);
  transition: 0.5s;
}

.active4 {
  visibility: visible;
  transform: translatey(90px);
  transition: 1s;
  z-index: 999999;
}/*# sourceMappingURL=about.css.map */